body {
    font-family: 'Noto Serif JP', serif;
    background-color: rgb(23, 24, 53);

}

h1 {
    font-weight: 3em;
    color: aliceblue;
}

.self-intro-img {
    height: 150px;
    width: 150px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 2% 0;
}

.self-intro {
    display: inline-block;
    width: 40em;
    height: 5em;
    margin: 2em 4em;
}

#name {
    position: relative;
    margin: 0 auto 0;
    text-align: center;
}

.intro-container {
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 2em auto;
}

@media(max-width: 1000px) {
    .self-intro {
        display: block;
        width: 40em;
        height: 5em;
        margin: 0 4em;
    }

    .intro-container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    #name {
        position: relative;
        margin: 0 auto 1em;
        text-align: center;
    }
}

.just {
    display: flex;
}

.just .its {
    justify-content: right;
}

.submission:hover {
    color: white;
    background-color: rgb(73, 73, 255);
}

.underline {
    margin: 1em auto;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.ul-text {
    margin: 2em auto;
}

.anchor {
    color: aqua;
    text-decoration: none;
}

.anchor:hover {
    text-decoration: underline;
}

#crawler {
    width: 300px;
    height: 300px;
}

#biped_robot {
    width: 400px;
    height: 800px;
    object-fit: cover;
}

#biped_bs {
    width: 600px;
    height: 1000px;
    object-fit: cover;
}

#mail-form-sub {
    font-weight: 2em;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 0.8em 0.8em;
    text-align: center;
    border: 2px solid white;
    border-radius: 10%;
}

#mail-form-sub:hover {
    font-weight: 2em;
    color: white;
    text-decoration: none;
    background-color: blue;
    cursor: pointer;
}